
* {
  box-sizing: border-box;
}

h1 {
  Font-Family: 'Merriweather', Serif;
  Font-Size: 46px;  
}

body {
  margin: 0;
  Font-Family: 'Muli', Sans-Serif;
  Font-Size: 16px;
  background: rgb(170, 196, 192);
}

/* Style the side navigation */
.sidenav {
  height: 144px;
  width: 80px;
  position: fixed;
  Font-Family: 'Roboto', Sans-Serif;
  Font-Size: 14px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(52, 75, 64);
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: right;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: rgb(165, 141, 96);
  color: black;
}

/* Style the content */
.content {
  
  margin-left: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.grad {
  font-size: 5px;
  background-image: linear-gradient(to right, black,red);
  padding-right: 30px;
  margin-right: 30px;
}

.responsive {
  max-width: 100%;
  height: auto;
}